<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
</head>
<body>

{% include "navbar.html" %}
  <br><br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello,
      <p class="lead">Welcome to Aster Medicity!</p></h1>
  <hr class="my-4">

  <p class="lead">
    <center>
    <a class="btn btn-danger btn-lg" href="/doctor_signup" role="button">Register Your Account</a><br><br>
    <a class="btn btn-success btn-lg" href="/doctor_signin" role="button">Login</a>
    </center>
  </p>
</div>
<br><br><br><br><br><br><br>
{% include "footer.html" %}

</body>
</html>